.container {
  max-width: 600px;
  height: 200px;
  margin: 150px auto;
 
  background-color: #fff;
  display: flex;

}



.block1 .name {
  margin-left: 50px;
  margin-top: -20px;
 
  text-align: center;
  line-height: 170px;
  font-size: 40px;
  display: flex;

}


.avatar {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;

}


.block2 {
  width: 600px;
  height: 220px;
  display: flex;

  background-color: #154360;
  margin-top: -80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 

}

.block2 p {
  color: #fff;
  margin-left: 20px;

  display: flex;
  
}

.block1 .name h3 {
  line-height: 200px;
  font-size: 40px;
  display: flex;
  margin-top: -120px;
  margin-left: 90px;
}

